.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 75px;

    position: absolute;
    width: 100%;
    height: 62px;
    left: 0px;
    top: 0px;

    background: #464646;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.logo img{
    width: auto;
    height: 32px;
}

.pages_links{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 29px;
    height: 21px;

}

a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: #F7F7F7;

}
.connect_wallet_button{

    padding: 5px 10px;
    gap: 10px;

    width: 127px;
    height: 31px;

    background: #528DFF;
    border-radius: 5px;

    flex: none;
    order: 2;
    flex-grow: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: #F7F7F7;

    flex: none;
    order: 0;
    flex-grow: 0;
}