.App {
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

body {
    margin: 0;
    background-color: #606060;
}

.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}